<h1>Profile</h1>

<%= search_form_for @q do |f| %>

  # Search if the name field contains...
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  
  <%= f.submit %>
<% end %>

<%= link_to "Create Profile",  new_profile_path %>
<%= link_to "Create Course", new_course_path %>

<%= @profiles.each do |profile| %> 
  <h1><%= profile.name %></h1>
  <p>Edit <%= link_to "Edit profile", edit_profile_path(profile) %> </p>
 
  <p><%= link_to "Destroy", profile_path(profile), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></p>
<% end %>

<%= paginate @profiles %>
