<div class="container-fluid" >
  <h1>Login</h1>

<% if flash[:error] %>
  <p> <%= flash[:error] %> </p>
<% end %>

<%= link_to 'Admin login', new_admin_session_path %>

<%= form_with(model: @profile, url: sessions_path) do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% @profile.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
    <% @profile.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <%= form.submit %>
<% end %>
</div>