<!DOCTYPE html>
<html>
  <head>
    <title>Scool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= link_to "Logout", logout_path %>

    <% if admin_signed_in? %> 
      <%= link_to 'Admin Logout', destroy_admin_session_path , data: { turbo_method: :delete } %>
    <% else %> 
      <%= link_to 'Admin Login', new_admin_session_path %>
      <%= link_to "Admin Sign up", new_admin_registration_path %> 
    <% end %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
